#text {
width: 400px;
height: 100px;
}

#result1{
width:500px;
height: 300px;
border: 1px solid;
}

#result2{
    width:500px;
    height: 300px;
    border: 1px solid;
    }

#result3{
     width:500px;
     height: 300px;
    border: 1px solid;
    }


 #img1{
width:500px;
height: 300px;

      }

            
#img2{
     width:500px;
    height: 300px;
    
     }

        
#img3{
     width:500px;
    height: 300px;
    
     }